// Import grid settings :
@import 'grid-settings'

// Generate classes :
+gridle_generate_classes()

// Max size :
.container
	margin: 0 auto
	max-width: 640px

body
	background-color: #eee
	font-family: sans-serif
