<div class="header">
	<small>app version: {{APP_VERSION}} - API version: {{API_VERSION}}</small>
</div>

<div class="container">
	<h1>'Allo, 'Allo {{username}}!</h1>
	<br><br>

	<input type="text" ng-model="suggestion" placholder="Song to suggest">
	<button ng-click="sendSuggestion()">Add</button>
</div>

<span class="hide-mobile">You're not welcome</span>

<!-- <div class="echonest" ng-controller="EchonestCtrl">
	<input type="text" placeholder="Artist" ng-model="artist">
	<ul>
		<li ng-repeat="song in songs">{{song.artist_name}} - {{song.title}}</li>
	</ul>
</div>
 -->
