<div class="header">
	<!-- <small>app version: {{APP_VERSION}} - API version: {{API_VERSION}}</small> -->
</div>

<div class="container">
<!-- 	<h1>'Allo, 'Allo {{username}}!</h1>
	<br><br>

	<input type="text" ng-model="suggestion" placholder="Song to suggest">
	<button ng-click="sendSuggestion()">Add</button> -->

	<div class="song grid-mobile-12">
		<div class="dimmer"></div>
		<div class="status">Now Playing</div>
		<div class="head" style="background:url('images/albumart.jpg') no-repeat; background-size: cover;">
			<div class="song-title">Marilyn Monroe</div>
			<div class="artist-name">Pharrel Williams</div>
		</div>
		<div class="bottom">
			<label>Voted for by <b>3 people</b></label>
			<img src="images/arrow-up.png">
		</div>
		<div class="bottom-dropdown">
			<div class="voter-name">Frank Lagendijk</div>
			<div class="voter-name">Gino Mangnoesing</div>
			<div class="voter-name">Rick Hagenaars</div>
		</div>
	</div>

	<div class="song grid-mobile-12">
		<div class="dimmer"></div>
		<div class="status">Now Playing</div>
		<div class="head" style="background:url('images/albumart.jpg') no-repeat; background-size: cover;">
			<div class="song-title">Marilyn Monroe</div>
			<div class="artist-name">Pharrel Williams</div>
		</div>
		<div class="bottom">
			<label>Voted for by <b>3 people</b></label>
			<img src="images/arrow-up.png">
		</div>
		<div class="bottom-dropdown hide">
			<div class="voter-name">Frank Lagendijk</div>
			<div class="voter-name">Gino Mangnoesing</div>
			<div class="voter-name">Rick Hagenaars</div>
		</div>
	</div>

	<div class="song grid-mobile-12">
		<div class="dimmer"></div>
		<div class="status">Now Playing</div>
		<div class="head" style="background:url('images/albumart.jpg') no-repeat; background-size: cover;">
			<div class="song-title">Marilyn Monroe</div>
			<div class="artist-name">Pharrel Williams</div>
		</div>
		<div class="bottom">
			<label>Voted for by <b>3 people</b></label>
			<img src="images/arrow-up.png">
		</div>
		<div class="bottom-dropdown hide">
			<div class="voter-name">Frank Lagendijk</div>
			<div class="voter-name">Gino Mangnoesing</div>
			<div class="voter-name">Rick Hagenaars</div>
		</div>
	</div>

	<div class="song grid-mobile-12">
		<div class="dimmer"></div>
		<div class="status">Now Playing</div>
		<div class="head" style="background:url('images/albumart.jpg') no-repeat; background-size: cover;">
			<div class="song-title">Marilyn Monroe</div>
			<div class="artist-name">Pharrel Williams</div>
		</div>
		<div class="bottom">
			<label>Voted for by <b>3 people</b></label>
			<img src="images/arrow-up.png">
		</div>
		<div class="bottom-dropdown hide">
			<div class="voter-name">Frank Lagendijk</div>
			<div class="voter-name">Gino Mangnoesing</div>
			<div class="voter-name">Rick Hagenaars</div>
		</div>
	</div>

	<div class="clear"></div>
</div>

<!-- <span class="hide-mobile">You're not welcome</span> -->

<!-- <div class="echonest" ng-controller="EchonestCtrl">
	<input type="text" placeholder="Artist" ng-model="artist">
	<ul>
		<li ng-repeat="song in songs">{{song.artist_name}} - {{song.title}}</li>
	</ul>
</div>
 -->
