<div class="container suggestion">
	<input class="grid-12" type="text" ng-model="suggestion" placeholder="Type a song">
	<!-- <button ng-click="sendSuggestion()">Add</button> -->
</div>

<div class="container">
	<ul class="autocomplete">
		<li ng-repeat="song in autocomplete">

			<a href="" ng-click="submit(song.id)">
				<img src="{{song.album.cover}}" alt="">
				<span class="meta">
					<div class="title">{{song.title}}</div>
					<div class="artist">{{song.artist.name}}</div>
				</span>
			</a>
		</li>
	</ul>
</div>
